

:root {
    --gris: #353434;
    --blue: #5898df;
    --blue_2: 2f4b64;
    --border: 25px;
}

.fondo {
    background-color: var(--blue);
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: var(--border);
    margin-top: 10px;
}

img{
    border-radius: var(--border);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

body {
    background-color: var(--gris);
    height: 0;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.descripcion {
    color: white;
    text-align: center;
}

footer {
    height: 50px;
    width: 100%;
    background-color: var(--blue);
    border-radius: var(--border);
}

fieldset {
    border-radius: var(--border);
    border-color: var(--blue);
    display: flex;
}

legend {
    color: white;
}

.texto_chat {
    color: white;
}

